@import url('./assets/css/bootstrap-reboot.css');

body {
  padding: 60px;
}

input {
  color: #b4610e;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border-radius: 6px;
  border: 1px solid #969696;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  font-size: 16px;
  color: #b4610e;
  text-align: center;
}